.rendered {
    border: 1px solid red
}

.rendered h1, h2, h3, h4, h5, p {
    /* margin-top: 0; */
    /* margin-bottom: 1rem; */
    margin-block: 0;
}

.rendered p code {
    border-radius: 4px;
    background: rgb(247, 246, 243);
    padding: 0 6px;
    line-height: 18px;
}


.rendered pre code {
    width: "100%";
    display: flex;
    padding: 0 1rem;
    background: rgb(247, 246, 243);
    text-align: left;
    border-radius: 4px;
}


.rendered p a {

}


.rendered p a img {
    width: "100%";
    margin: 0 auto;
    border-radius: 4px;
}


.rendered table {
    border: 1px solid #121212;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 8px 0;

}
.rendered th, .rendered td {
    color: inherit;
    fill: inherit;
    border: 1px solid rgb(233, 233, 231);
    position: relative;
    vertical-align: top;
    text-align: start;
    min-width: 120px;
    max-width: 240px;
    min-height: 32px;

    height: 16px;
    width: 26px;
    padding: 2px 4px;
    pointer-events: none;
}

.rendered tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.rendered tbody {
    /* border: 1px solid rgb(247, 246, 243); */
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.rendered thead {
    /* border: 1px solid rgb(247, 246, 243); */
    background: rgb(247, 246, 243);
}






